h1,
h2 {
    background-color: #D1BD79;
    font-family: Helvetica, "Courier New", sans-serif;
}
h1 {
    text-align: center;
}

.toast,
.pchops {
    height: auto;
    width: 500px;
    border-radius: 10px;
}

.pancake {
    height: auto;
    width: 350px;
    border-radius: 10px;
}

h3 {
    background-color: #D1BD79;
    font-size: 24px;
}
p {
    font-family: Helvetica, "Courier New", sans-serif;
}

li {
    font-family: Helvetica, "Courier New", sans-serif;
}

ol {
    text-align: justify;
}

body {
    background-color: cornsilk;
}

.home {
    font-size: 30px;
}